.circle-container {
    position: relative;
    display: inline-block;
  }
  
  .circle-background {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
  
  .circle-progress {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke-dashoffset: var(--stroke-dashoffset);
    stroke-dasharray: var(--circumference);
    animation: progress-animation 2s ease-out forwards;
  }
  
  @keyframes progress-animation {
    from {
      stroke-dashoffset: var(--circumference);
    }
    to {
      stroke-dashoffset: var(--stroke-dashoffset);
    }
  }
  
  .circle-text {
    position: absolute;
    top: 50%;
    left: 50%; 
    color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: 600;
  }
  

  .circle-parameter {
    font-size: 12px;
    fill: white;
  }
  
  .circle-number-one {
    font-size: 40px;
    fill:white;
  }
  