.graphs{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #002525;
    /* background: url('../images/dashboard.svg'); */
    color: rgb(213, 213, 213);
    overflow: scroll;
}

.graphs::-webkit-scrollbar {
  display: none;
}

/* Hide scroll bar for IE and Edge */
.graphs {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.graph-header{
    padding: 0 100px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
}
 
.graph-heading{
    padding: 50px 0 0 0;
    font-size: 50px;
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: flex-start;
}

.graph-info{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 70px;
}

.graph-heading-para{
    font-weight: 400;
}

.graph-info-upper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.graph-info-upper-first{
    width: 40%;
}

.mood{
    /* width: 50%; */
    display: flex;
    justify-content: space-between;
    border-left: 1px solid white;
    margin: 0 0 50px 0;
}

.mood-ask-para{
    padding: 0 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
}

.mood-ask-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
}

.mood-ask-moodometer{
    margin-top: 10px;
    font-size: 13px;
}





/* -------------- */

.mental{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    border-left: 1px solid white;

}

.mental-ask-para{
    padding: 0 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 190px;
}

.mental-ask-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

.mental-ask-moodometer{
    margin-top: 10px;
    font-size: 13px;
}



/* -------------- */



/* mental meter */

.box-grid {
    display: flex;
    height: 70px;
  }
  
  .box {
    flex: 1;
    padding: 15px 0;
    border: 1px solid #008080;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 70px; 
    width: 100px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .box.active {
    background-color: #008080;
  }
  
  .label {
    font-size: 13px;
    font-weight: bold;
  }
  
  .description {
    font-size: 10px;
  }



/* emojie slider */

.circle-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
}

.graph-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* smiley slider */


.slider-container {
    width: 33%;
    max-width: 600px;
    text-align: center;
}

.emojis {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

.emoji {
    font-size: 1.5rem;
    color: #008080; /* Teal color for emojis */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #008080 50%, #d3d3d3 50%);
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 22px;
    border-radius: 50%;
    background: #008080; /* Teal color for the thumb */
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #008080; /* Teal color for the thumb */
    cursor: pointer;
}

.graph-info-lower{
    /* height: 100%; */
    display: flex; 
    justify-content: space-between;
    padding: 70px 0;
}

.paras-and-todo{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;

}


.calendar-img{
  height: 80px;
  width: 80px;
}

.slack-img{
    height: 60px;
    width: 60px;
    margin-top: 8px;
}

.metric-slack{ 
    height: 450px;
    width: 40%;
    margin-right: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



.metric-improve{
    background-color: #00000043;    
    height: 360px;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.google-slack{
    height: 70px;
    width: 100%;
    background-color: #00000043;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.google-slack-img{

}

.google-slack div{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* -------------- */

.metric-improve-heading{
    font-size: 26px;
    border-left: 1px solid white;
    padding-left: 20px;
    text-align: left;
}

.metric-improve-text{
    text-align: left;
    padding-left: 21px;
    margin: 10px 0;
    font-size: 20px;
}


.metric-dummy-text{
    text-align: justify;
    margin-top: 30px;
    padding-left: 21px;
}

/* -------------- */


.dropdown-container {
    position: relative;
    display: inline-block;
    margin-left: 21px;
  }
  
  .dropdown-box {
    width: 300px;
    text-align: center;
    /* padding: 10px; */

    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: left;
    padding: 12px 30px;

  }
  
  .dropdown-link {
    display: block;
    text-decoration: none;
    color: black;
    text-align: left;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
  }
  

  .dropdown-content .dropdown-link {
    padding: 12px 30px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    text-align: left;
  }
  
  .dropdown-content .dropdown-link:last-child {
    border-bottom: none;
  }
  

  .dropdown-box:hover .dropdown-content {
    display: block;

  }
  
  .hoverable:hover {
    background-color: #008080;
    color: rgb(255, 255, 255);
  }
  
