.dashboard-container{
    height: 100vh;
    width: 100%;
    padding: 50px 100px;
    background: url('../images/dashboard.svg');
    color: white;
}

.dashboard-heading{
    display: flex;
    justify-content: flex-start;
    font-size: 40px;
}

.parameter-container{
    display: flex;
}

.parameter-circle{
    margin: 60px 70px 0 0;
}

.first-section{

}

.scores-section{
    width: 60%;
}

.scores-subheading{
    display: flex;
    justify-content: flex-start;
    color: rgba(255, 255, 255, 0.423);
    font-weight: 300;
}

.dept-select-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    border-left: 2px solid white;
    padding: 0 20px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.762);

}

.dept-select{
    padding: 13px 18px;
    margin-left: 40px;
    outline: 0;
    border: 0;
    border-radius: 10px;
}


.score-line-graph{
    width: 60%;
    background-color: #00000043;
    padding: 30px;
    margin: 50px 0 0;
    font-size: 24px;
    font-weight: 300;
}

/* month dropdown */


  
  .month-dropdown {
    /* appearance: none; Removes the default dropdown arrow */
    background-color: #00808000; /* Background color from your image */
    color: #ffffff; /* Text color */
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    outline: none;
  }
  
  .month-dropdown option {
    background-color: #0b2b29; /* Background color for dropdown options */
    color: #ffffff; /* Text color for dropdown options */
    outline: 0;
    border: 0;
  }
  
  /* .custom-arrow {
    width: 16px; 
    height: 16px;
    color:#008080
  }
   */