.leave-view-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #002525;
    color: rgb(213, 213, 213);
    overflow: scroll;
    padding: 50px 100px;
}

.leave-view-container::-webkit-scrollbar {
    width: 0;
}


.leave-view-header{
    /* padding: 0 100px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    color: white;
    width: 100%;
    margin-bottom: 50px;
}
.leave-view-heading{
    padding: 50px 0 0 0;
    font-size: 50px;
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: flex-start;
}
.leave-view-para{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.leave-view-upper-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.leave-view-user{
    background-color: rgba(16, 16, 16, 0.40);    
    width: 60%;
    height: 600px;
    border-radius: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leave-users{
    background-color: rgba(16, 16, 16, 0.40);    
    width: 35%;
    height:600px;
    border-radius: 40px;
    padding: 40px;

}

.leave-view-user-heading{
    font-size: 28px;
    color: white;
    border-bottom: 1px solid #008080;
    padding: 0 0 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.leave-user-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.leave-user-row{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.leave-user-key{
    color: white;
    width: 30%;
    text-align:left;
}

.leave-user-value{
    color: rgba(255, 255, 255, 0.619);
    text-align: left;
    width: 70%;
} 

.approve-btn{
    width: 120px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 0;
    font-weight: 500;
}

.approve{
    background-color: white;
    color: black;
}

.approved{
    background-color: #008080;
    color: white;
}

.tick{
    margin-right: 5px;
}

.leave-date{
    background-color: white;
    color: black;
    padding: 5px 10px;
    width: 110px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.leave-request-value{
    text-align: right;
}

.leave-request-content{
    justify-content: flex-start;
}

.leave-request-row{
    margin-bottom: 40px;
}


.leave-requests{
    background-color: rgba(16, 16, 16, 0.40);    
    padding: 40px;
    width: 100%;
    min-height: 600px;
    border-radius: 40px;

}

.leave-requests-heading{
    font-size: 28px;
    color: white;
    border-bottom: 1px solid #ffffff;
    padding: 0 0 10px;
    display: flex;
    justify-content: space-between;
}

.leave-requests-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.leave-requests-row{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    padding: 30px 0;
    align-items: center;
}

.leave-requests-row div{
    margin-right: 60px;
    text-align: left;
}

.leave-requests-duration{
    width: 100px;
}
.leave-requests-name{
    width: 170px;

}
.leave-requests-types{
    width: 130px;

}
.leave-requests-days{
    width: 30px;
    text-align: center;

}
.leave-requests-status{
    width: 130px;
}

.leave-approval{
    padding: 7px 15px;
    border-radius: 10px;
    border: 0;
    outline: 0;
}