.signup-container {
    width: 100%;
    min-height: 100vh; /* Ensures that the background covers the entire viewport initially */
    background: url("../images/signup.svg") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

  

.heading-1{
    color:white;
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 30px;
}
.heading-2{
    color:white;
    font-size: 20px;
    margin: 0 0 30px ;
}

.input-label{
    font-size:12px;
}


.content{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.signup-input-container{
    margin: 0 0 12px;
}

.input-label{
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
    margin: 0 0 5px ;
}

.form-container{
    background-color: white;
    padding: 38px 48px;
    border-radius: 30px;

}

.input-box {
    width: 310px;
    border-radius: 10px;
    border: 1.8px solid rgb(155, 155, 155);
    padding: 4px 17px;
  }
  
.option {
color: rgb(87, 87, 87);
}

.input-box:focus {
outline: 0;
border: 1.8px solid #008080; /* Corrected the typo here */
}

.option:hover{
    background-color: #008080;
}

.sub-btn{
    background-color: black;
    outline: 0;
    color: white;
    width: 310px;
    padding: 6px 0;
    border: 1.5px solid white;
    border-radius: 10px;

    transition: 0.2s all;
}

.sub-btn:hover{
    background-color: white;
    border: 1.5px solid black;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.sub-btn:active{
    background-color: #008080;
    color:white;
}


.error-text {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
  }
  
  .input-error {
    border-color: red;
  }
  