.survey{
    height: 100vh;
    display: flex;
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
} 
.survey-progress{
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px;
}

.survey-progress-heading{
    font-size: 50px;
    font-weight: 700;
}

.survey-progress-content{
    text-align: left;
    margin-top:30px;
    font-size: 20px;
}

.survey-info{
    text-align: left;
    width: 80%;
    margin: 20px;
    color: rgb(34, 38, 255);
    font-size: 25px;
}

.survey-container{
    background: #008080;
    width: 60%;
    padding: 80px 80px;
    overflow: scroll;
    color: white;
}

.question-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 60px 0;
}

.question-container:nth-of-type(1), .question-container:nth-last-of-type(1){
    margin: 0;
}

.questions{
    text-align: left;
    margin: 0 0 10px;
}

.rating-div{
    margin: 0 0 5px ;
    width:70%;
}


.rating-names{
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.submit-btn{
    background-color: black;
    outline: 0;
    color: white;
    /* width: 310px; */
    padding: 10px 30px;
    border: 1.5px solid white;
    border-radius: 10px;
    border: 0;
    transition: 0.2s all;
}

.submit-btn:hover{
    background-color: white;
    /* border: 1.5px solid black; */
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.submit-btn:active{
    background-color: #008080;
    color:white;
}

.line{
    margin: 10px 0 20px ;
    height: 0.5px;
    width: 100%;
    background-color: rgb(219, 219, 219);
}


.submit-btn-disabled{
    opacity: 0.5;
    cursor: default;
}

.submit-btn-disabled:hover{
    opacity: 0.5;
    cursor: default;
}




.submit-btn-disabled:hover{
    background-color: #9beeff;
    cursor: default;
}


/* progress */



.progress-bar {
    position: relative;
    width: 40px;
    height: 245px; /* Adjust the height of the progress bar */
    margin-right: 100px;
}

.progress-step {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white; /* Default color */
    border: 2px solid #008080;
    cursor: pointer;
}

.progress-step.completed {
    background-color: #008080;
    border: 3px solid #008080;
}

.progress-step:nth-child(1) {
    top: 0;
}

.progress-step:nth-child(2) {
    top: 75px; /* Adjust spacing between dots */
}

.progress-step:nth-child(3) {
    top: 150px; /* Adjust spacing between dots */
}

.progress-step:nth-child(4) {
    top: 225px; /* Adjust spacing between dots */
}

/* Vertical line styling */
.progress-bar::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 2px;
    height: 100%; /* This matches the height of the progress bar */
    background-color: #008080;
    transform: translateX(-50%);
}

.progress-bar-container{
    margin: 80px 0;
    display: flex;
    width: 100%;
    justify-content:  flex-start;
    padding: 0 0 0 70px;

}

.progress-bar-para-container{
    height: 245px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.progress-bar-para-info-checked{
    background-color: #008080;
    color: white;
    padding: 5px 15px;
    border: 2px solid white;
    border-radius: 5px;
}

.progress-bar-para-info{
    background-color: white;
    color: black;
    padding: 5px 15px;
    border: 2px solid #008080;
    border-radius: 5px;
    font-weight:600;
}