/* Thumbnail Container */
.thumbnail {
    box-sizing: border-box;
    padding: 36px 24px;
    background: linear-gradient(180deg, rgba(0, 128, 128, 0.3) 0%, #002525 70.68%);
    border: 1px solid #008080;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

/* Thumbnail Image */
.thumbnail img {
    aspect-ratio: 1.39;
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: auto;
    border: 3px solid #FFFFFF;
}

/* Thumbnail Text Content */
.thumbnail-content {
    display: flex;
    margin-top: 24px;
    width: 100%;
    flex-direction: column;
    justify-content: start;
}

/* Thumbnail Title */
.thumbnail-content h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 8px 0;
}

/* Thumbnail Description */
.thumbnail-content p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 8px;
}

/* Thumbnail Link */
.thumbnail-content a {
    color: #00cccc;
    text-decoration: none;
    margin-top: 8px;
}

.thumbnail-content a:hover {
    text-decoration: underline;
}
